name: Build Flutter Android APK

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: |
          cd pads_sampler
          flutter pub get

      - name: Build APK
        run: |
          cd pads_sampler
          flutter build apk --release --no-daemon --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: pads_sampler/build/app/outputs/flutter-apk/app-release.apk
